


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body >
  <main>
  <!-- login form -->
  <div class="mb-2">
      <form class="form-outline mb-5 justify-content-center" action="/login" method="post" >
          Email: <input class= "form-control mb-4 "name="email" type="email" required /> <br />
          Password: <input class="form-control" name="password" type="password" required /> <br />
      <button type="submit" class= "btn btn-primary btn-block mb-4">Login</button>
      </form>
  </div>
  <!-- register link  -->
  <div class="align-items-center">Don't have an account? <a href="/register">Sign Up</a>
  </div>
  </main>
</body>
</html>