<!-- 

  <main class="container">
  login form -->

<!-- <div class="mb-2">
      <form class="form-outline mb-5 justify-content-center" action="/login" method="post" >
          Email: <input class= "form-control mb-4 "name="email" type="email" required /> <br />
          Password: <input class="form-control" name="password" type="password" required /> <br />
      <button type="submit" class= "btn btn-primary btn-block mb-4">Login</button>
      </form>
  </div>

  <div class="align-items-center">Don't have an account? <a href="/register">Sign Up</a>
  </div>
  </main> -->
<form action="/login" method="post">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card p-3 px-5 py-5 mt-3 align-items-center">
          <span class="car">Video Hub</span>
          <span class="signin mt-3">Sign In with Email</span>
          <input type="email" name="email" class="btn btn1 btn-light  mt-3 form-control" placeholder="Enter Your Email">

          <input type="password" name="password" class="btn btn1 btn-light  mt-3 form-control" placeholder="Enter Your Password" />

          <button type="submit" class="btn btn2 btn-light mt-3">SIGN IN</button>
          <!-- <span class="forgot mt-4">Forgot password</span> -->
          <span class="account mt-4">Don't Have an account?</span>
          <a class="signup text-decoration-none" href="/register">Sign Up</a>



        </div>
      </div>

    </div>
  </div>
</form>