<!-- <form action="/register" method="post">
    Email: <input name="email" type="email" required /> <br/>
    Password: <input name="password" type="password" required /> <br/>
    <button type="submit">Register</button>
</form>

Have an account? <a href="/">Sign In</a> -->



<form action="/register" method="post">
    <div class="container">
      <div class="row d-flex justify-content-center">
  
        <div class="col-md-6">
          <div class="card p-3 px-5 py-5 mt-3 align-items-center">
            <span class="car">Registration</span>
            <span class="signin mt-3">Sign Up with Email</span>
            <input type="email" name="email" class="btn btn1 btn-light  mt-3" placeholder="Enter Your Email">
  
            <input type="password" name="password" class="btn btn1 btn-light  mt-3" placeholder="Enter Your Password" />
  
            <button type="submit" class="btn btn2 btn-light mt-3">SIGN UP</button>
     
            Have an account? <a href="/">Sign In</a>
  
          </div>
        </div>
  
      </div>
    </div>
  </form>