<!-- <form action="/register" method="post">
    Email: <input name="email" type="email" required /> <br/>
    Password: <input name="password" type="password" required /> <br/>
    <button type="submit">Register</button>
</form>

Have an account? <a href="/">Sign In</a> -->



<form action="/register" method="post">
    <div class="container">
      <div class="row d-flex justify-content-center">
  
        <div class="col-md-6">
          <div class="form-outline card p-3 px-5 py-5 mt-3 align-items-center">
            <span class="car">Registration</span>
            <span class="signin mt-3">Sign Up with Email</span>
            
            <div class="form-outline mb-4">
            <input type="email" name="email" class="mt-3 form-control" placeholder="Enter Your Email">
            </div>

            <div class="form-outline mb-4">
            <input type="password" name="password" class="mt-3 form-control" placeholder="Enter Your Password" />
            </div>
            
            <div class="form-outline mb-4">
            <button type="submit" class="btn btn2 btn-light mt-3 form-control">Register</button>
            </div>
            
            <a class="signup" href="/">
              <button class="btn btn-secondary btn-lg" type = "button" role="button">Sign In Page</button>
            </a>


            <!-- <div class="form-control mt-3 text-center ">
            <span class="mt-3 "> have an account? <button href="/">Sign In</button></span>
            </div> -->
          </div>
        </div>
  
      </div>
    </div>
  </form>