body{
    background-image: url(https://uce4a54bf492b2fe141fe14e517a.previews.dropboxusercontent.com/p/thumb/ABlXhFBylYZEkQ25YBY_DSEEkCMbLcNq9ooWT9g3URj1HwRANC2i5h6Jxkc8OnucyEIPe_EcBvn2OS7HOTX4xri4mrRISx4Vsfubt4JBCL3UzS8-uC79t5dtbIFaRMEt7B_InrPxuVB-sYcLxrKMlmxky_hjlYYgdtBD_BpyvItUCwkd4axcKucxHtBgkmQPq-QIT78bEoaLc92aOsE5_CnyJjudb7CkdpfuLlrR1A0zTNKnGhCiUK-kWuVdQw4mLmMthNhJwPFy8DcnqHEAniSX4OSo2elQfk7nRX5jx_iAEo1CkryIhJd6G8y1OGYCe0lzuQZGCkAgMl4G8cAyXAiykdZaZRChhZ8J6fYIkMc5y1NyewTeBwcw6qmnXJ9a4NIE3Lgmnh5rrOmb-TeiyahOn_1nK_B1ilp5LCQ_GZ8rdg/p.jpeg);
}
.card{
    color:#0029ff;
    font-size:40px;
    font-weight:700;
    border:none;
}
.signin{
    font-size:30px;
    font-weight:600;
}
.btn1{
  border-radius:25px;
  background-color:#fff;
  color:#eee;
  height:50px;
  width:350px;
  border-color:#e7e9ec;
  font-size:18px;
}
.btn2{
    border-radius:25px;
  background-color:#0029ff;
  color:#eee;
  height:50px;
  width:200px;
  border-color:#e7e9ec;
  font-size:18px;
}
.forgot{
    font-size:30px;
    color:#94969a;
}
.account{
    font-size:22px;
    color:#000000;
    font-weight:500;
}
.signup{
    color:#0029ff;
    font-weight:700;
}